{% assign url_parts = request.path | split: '/' %}
{% assign current_collection_handle = url_parts[2] %}

<style>
  details-disclosure .active-filters a {
    border: 1px solid #ef9aa0;
    border-radius: 20rem;
    font-size: 1.25rem;
    background: #fff;
    font-weight: bold;
    display: block;
  }
  details-disclosure .active-filters a.active {
    background: #ef9aa0 !important;
    color: #fff;
  }
  
</style>

<details-disclosure class="facets__active-filters" {% if active_filters_count == 0 %} hidden{% endif %}>
  <details class="disclosure"{% if section.settings.expand_filters %} open{% endif %}>
    <summary>
      <div class="flex justify-between items-center">
        <span class="flex-auto font-bold active-filters-header">
          Product Category          
        </span>
        <span class="disclosure__toggle">
          {%- if settings.disclosure_toggle == 'plus' -%}
            {% render 'icon-plus' %}
          {%- else -%}
            {% render 'icon-chevron-down' %}
          {%- endif -%}
        </span>
      </div>
    </summary>
    <div class="disclosure__panel has-motion">
      <div class="disclosure__content">
        <div class="active-filters flex flex-wrap">
          <div class="filter">
            {% for collection in collections %}
              {% if collection.metafields.collection.visible != false %}
                <a class="pt-2 pb-2 pl-4 pr-4 font-body {% if collection.handle == current_collection_handle %}active{% endif %}" href="/collections/{{ collection.handle }}">{{ collection.title }}</a>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </details>
</details-disclosure>