<style>
    .table-wrapper table {
        background: rgba(255, 255, 255, 0.5);
        border: 1px solid rgba(0, 0, 0, 0.1);
        width: 100%;
    }
    .table-wrapper table tbody tr img {
      width: 20rem;
      display: block;
      margin: 0 auto 1rem auto;
      border-radius: 1rem;
      aspect-ratio: 1 / 1;
      object-fit: cover;
    }
    .table-wrapper table td,
    .table-wrapper table th {
        border: none;
    }
    .table-wrapper table thead tr {
        background: rgb(var(--link-color));
        color: #fff;
    }
    .table-wrapper table thead th {
        font-weight: 900;
        text-transform: uppercase;
        text-align: center;
    }
    .table-wrapper table tbody tr:nth-child(odd) {
        background-color: #fff;
    }
    .table-wrapper .pink-check {
        font-size: 1.5em;
        color: rgb(var(--link-color));
        font-weight: 900;
    }
    @media (max-width: 768px) {
        .table-wrapper {
            overflow: auto;
        }
        .table-wrapper table {
            min-width: 40rem;
        }
    }
</style>

<div class="table-wrapper">
    <table>
    <thead>
        <tr style="text-align: right;">
        <th></th>
        <th>Joy Plus</th>
        <th>Joy</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th></th>
            <td><img src="https://cdn.shopify.com/s/files/1/0849/8062/9819/files/joy-plus.jpg?v=1709069473"></td>
            <td><img src="https://cdn.shopify.com/s/files/1/0849/8062/9819/products/sku_131a40_010_rgb_2_d5aa24c1-5a80-4b7b-a085-122a92dc2dff.jpg?v=1707521934"></td>
        </tr>
        <tr>
            <th>Size (Lx Wx H)</th>
            <td>4.3 x 3.6 x 2.16"</td>
            <td>4.3 x 3.6 x 2.16"</td>
        </tr>
        <tr>
            <th>Kit Type</th>
            <td><img src="/cdn/shop/products/hyginekit.jpg" style="margin-left: 0;"><p>Double Pumping HygieniKit</p></td>
            <td><img src="/cdn/shop/products/hyginekit.jpg" style="margin-left: 0;"><p>Double Pumping HygieniKit</p></td>
        </tr>
        <tr>
            <th>Suction strength</th>
            <td>up to 250mmHg</td>
            <td>up to 250mmHg</td>
        </tr>
        <tr>
            <th>Battery type</th>
            <td>Lithium ion</td>
            <td>4 AA batteries</td>
        </tr>
        <tr>
            <th>Levels of expression</th>
            <td>12 levels</td>
            <td>12 levels</td>
        </tr>
        <tr>
            <th>Massage stimulations</th>
            <td>6 levels</td>
            <td>6 levels</td>
        </tr>
        <tr>
            <th>Battery life</th>
            <td>2.5 hours</td>
            <td>1.5 hours</td>
        </tr>
        <tr>
            <th>Backlit digital LCD Display</th>
            <td class="pink-check">✓</td>
            <td class="pink-check">✓</td>
        </tr>
        <tr>
            <th>True closed protection system</th>
            <td class="pink-check">✓</td>
            <td class="pink-check">✓</td>
        </tr>
        <tr>
            <th>Double or single electric pumping options</th>
            <td class="pink-check">✓</td>
            <td class="pink-check">✓</td>
        </tr>
        <tr>
            <th>2-year warranty</th>
            <td class="pink-check">✓</td>
            <td class="pink-check">✓</td>
        </tr>
        <tr>
            <th>Automatic power off technology after 45 minutes</th>
            <td class="pink-check">✓</td>
            <td class="pink-check">✓</td>
        </tr>
        <tr>
            <th>Timer display to track pumping time</th>
            <td class="pink-check">✓</td>
            <td class="pink-check">✓</td>
        </tr>
        <tr>
            <th>Memory function to remember last used setting</th>
            <td class="pink-check">✓</td>
            <td class="pink-check">✓</td>
        </tr>
        <tr>
            <th>Ultra quiet to allow discreet pumping anywhere</th>
            <td class="pink-check">✓</td>
            <td class="pink-check">✓</td>
        </tr>
        <tr>
            <th>USB charging capability</th>
            <td class="pink-check">✓</td>
            <td></td>
        </tr>
        <tr>
            <th>Wrist wrap</th>
            <td class="pink-check">✓</td>
            <td></td>
        </tr>
        <tr>
            <th>Belt clip</th>
            <td></td>
            <td class="pink-check">✓</td>
        </tr>
    </tbody>
    </table>
</div>