<div class="flex flex-wrap gap-theme">
    <img style="height: 3rem;" src="https://cdn.shopify.com/s/files/1/0849/8062/9819/files/amex.png?v=1707858420" alt="Amex">
    <img style="height: 3rem;" src="https://cdn.shopify.com/s/files/1/0849/8062/9819/files/dsicover.png?v=1707858420" alt="Discover">
    <img style="height: 3rem;" src="https://cdn.shopify.com/s/files/1/0849/8062/9819/files/mastercard.png?v=1707858421" alt="Mastercard">
    <img style="height: 3rem;" src="https://cdn.shopify.com/s/files/1/0849/8062/9819/files/visa.png?v=1707858421" alt="Visa">
</div>