<ul class="flex wrap-sm gap-x-theme gap-y-6">
    <li class="flex-col grow w-full">
        <video-component class="has-iframe block w-full h-full" data-video-url="https://www.youtube.com/watch?v=IRgXwVQcheg" data-autoplay="true" data-background="false" data-description="" style="width: 919.123px;">
            <iframe frameborder="0" allowfullscreen="" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" title="" width="1280" height="720" src="https://www.youtube.com/embed/IRgXwVQcheg?controls=1&amp;disablekb=0&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;rel=0&amp;enablejsapi=1" id="widget2" class="js-youtube"></iframe>
        </video-component>
    </li>
    <li class="flex-col grow w-full">
        <video-component class="has-iframe block w-full h-full" data-video-url="https://www.youtube.com/watch?v=p5f82vuUoZg" data-autoplay="true" data-background="false" data-description="" style="width: 919.123px;">
            <iframe frameborder="0" allowfullscreen="" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" title="" width="1280" height="720" src="https://www.youtube.com/embed/p5f82vuUoZg?controls=1&amp;disablekb=0&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;rel=0&amp;enablejsapi=1" id="widget2" class="js-youtube"></iframe>
        </video-component>
    </li>
</ul>
