<ul class="flex flex-wrap gap-x-theme gap-y-12 md:gap-y-6">
    <li class="flex-col">
        <h3>Key Features</h3>
        <ul>
            <li>Hospital grade performance with two modes of pumping. 6 suction levels in stimulation mode and 12 in expression mode. 6 independently controlled speeds in expression mode provide 72 separately configurable settings</li>
            <li>Large, backlit LCD display with timer</li>
            <li>Built in memory and push button controls</li>
            <li>Adjustable/Dimmable nightlight for late-night sessions</li>
            <li>2-minute auto switch to Expression Mode</li>
            <li>Integrated rechargeable battery provides up to 3 hours of pumping time</li>
            <li>Built In Bottle Holders secure collection bottles and milk bags of all sizes up to 8oz. to prevent spills</li>
            <li>Adaptable for single or double pumping</li>
            <li>Compatible with customFit™ Flange System</li>
            <li>Patented Universal HygieniKit™ Kits — universal solution featuring the only FDA-cleared protective viral barrier to protect breastmilk</li>
            <li>3-year limited warranty with Ameda ParentCare Support</li>
        </ul>
    </li>
    <li class="flex-col">
        <h3>Standard Contents Include</h3>
        <ul style="margin-bottom: 2rem;">
            <li>Pearl® Breast Pump</li>
            <li>AC Power Adapter</li>
            <li><a href="/pages/instructions-for-use/">Instructions for Use</a></li>
            <li><a href="https://cdn.shopify.com/s/files/1/0849/8062/9819/files/pearl-quick-start_d4be2d06-5fb2-4716-9eb7-862607837781.pdf?v=1705601920">Quick Start Guide (English)</a></li>
        </ul>
        <h3>Available Accessories Include</h3>
        <ul>
            <li>Trolley with locking wheels and attached basket - Coming soon</li>
            <li>Hard-sided protective case for travel - Coming soon</li>
            <li><a href="/products/ameda-custom-fit-kits">CustomFit™ Flange System</a></li>
            <li><a href="/products/ameda-hygienikit-universal-kit/">Patented Universal HygieniKit™ Double Pump Kits</a></li>
        </ul>
    </li>
</ul>