<style>
    .comparison-chart-table table {
    min-width: 70rem;
    overflow: auto;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.1);
    }
    .comparison-chart-table table td,
    .comparison-chart-table table th {
    border: none;
    }
    .comparison-chart-table table tr td:not(:first-of-type) {
    text-align: center;
    font-size: 1.5em;
    color: rgb(var(--link-color));
    font-weight: 900;
    }
    .comparison-chart-table table tr:first-of-type {
    background: rgb(var(--link-color));
    color: #fff;
    }
    .comparison-chart-table table tr:nth-child(odd):not(:first-of-type) {
    background-color: #fff;
    }
</style>

<table class="comparison-chart-table">
<tbody>
<tr>
<th class="comparision-chart-title">COMPARISON CHART</th>
<th class="comparision-chart-th">Ameda Penguin Warmer</th>
<th class="comparision-chart-th">Competing Brand</th>
</tr>
<tr>
<td>Warms based on temperature sensor feedback loop</td>
<td>✓</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>Gently mixes while warming, eliminating the need for shaking or rolling</td>
<td>✓</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>Multi-directional, surround warming for a more uniform and even outcome</td>
<td>✓</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>Feedings safely warmed in closed system bag</td>
<td>✓</td>
<td>✓</td>
</tr>
<tr>
<td>Warm from refrigerator to feeding temperature</td>
<td>✓</td>
<td>✓</td>
</tr>
<tr>
<td>Warm from frozen to thawed temperature</td>
<td>✓</td>
<td>✓</td>
</tr>
<tr>
<td>Warm from frozen to feeding temperature</td>
<td>✓</td>
<td>✓</td>
</tr>
<tr>
<td>Easy to clean with common hospital disinfectant</td>
<td>✓</td>
<td>✓</td>
</tr>
<tr>
<td>Accommodates feeding containers to 27 ml and syringes from 1mL to 100mL</td>
<td>✓</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>Compatible with most makes, models, and sizes of breast milk storage bags, syringes, and bottles</td>
<td>✓</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>Space-saving four wells for pods or nutritional preparation area/rooms</td>
<td>✓</td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>