<style>
    .table-wrapper table {
      background: rgba(255, 255, 255, 0.5);
      border: 1px solid rgba(0, 0, 0, 0.1);
    }
    .table-wrapper table td,
    .table-wrapper table th {
      border: none;
    }
    .table-wrapper table tbody tr img {
      width: 20rem;
      display: block;
      margin: 0 auto 1rem auto;
      border-radius: 1rem;
      aspect-ratio: 3 / 2;
      object-fit: cover;
    }
    .table-wrapper table thead tr.pink {
      background: rgb(var(--link-color));
      color: #fff;
    }
    .table-wrapper table thead th {
      font-weight: 900;
      text-align: center;
      text-transform: uppercase;
    }
    .table-wrapper table tbody tr:nth-child(odd) {
      background-color: #fff;
    }
    .table-wrapper .pink-check {
      font-size: 1.5em;
      color: rgb(var(--link-color));
      font-weight: 900;
    }
    @media (max-width: 768px) {
        .table-wrapper {
            overflow: auto;
        }
        .table-wrapper table {
            min-width: 75rem;
        }
    }
</style>

<div class="table-wrapper">
<table>
  <thead>
    <tr class="pink">
      <th></th>
      <th colspan="2">Personal Pumps</th>
      <th colspan="2">Hospital Grade Pumps</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td><img src="/cdn/shop/products/sku_131a40_010_rgb_2_d5aa24c1-5a80-4b7b-a085-122a92dc2dff.jpg"></td>
      <td><img src="/cdn/shop/products/01.jpg"></td>
      <td><img src="/cdn/shop/products/AMED_ProductPhoto_1.jpg"></td>
      <td><img src="/cdn/shop/products/17803_3.png"></td>
    </tr>
    <tr class="font-bold">
      <th scope="row">PUMP MODEL</th>
      <td>Joy</td>
      <td>Joy PLUS</td>
      <td>Pearl<sup>®</sup></td>
      <td>Platinum</td>
    </tr>
    <tr>
      <th scope="row">TYPE OF PUMP</th>
      <td>Single User</td>
      <td>Single User</td>
      <td>Multi User</td>
      <td>Multi User</td>
    </tr>
    <tr>
      <th scope="row">AVAILABLE TO RENT</th>
      <td></td>
      <td></td>
      <td class="pink-check">✓</td>
      <td class="pink-check">✓</td>
    </tr>
    <tr>
      <th scope="row">IDEAL FOR</th>
      <td colspan="2">Occasional or Daily Pumping, Back to Work</td>
      <td colspan="2">Exclusive or Frequent Pumping, Building and Maintaining Milk Supplies</td>
    </tr>
    <tr>
      <th scope="row">MILK COLLECTION SYSTEM TYPE</th>
      <td>Closed</td>
      <td>Closed</td>
      <td>Closed</td>
      <td>Closed</td>
    </tr>
    <tr>
      <th scope="row">MILK COLLECTION SYSTEM</th>
      <td>Universal HygieniKit<sup>™</sup></td>
      <td>Universal HygieniKit<sup>™</sup></td>
      <td>Universal HygieniKit<sup>™</sup></td>
      <td>Standard or Universal HygieniKit<sup>™</sup></td>
    </tr>
    <tr>
      <th scope="row">SIZE (L x W x H)</th>
      <td>7” x 5.50” x 8”</td>
      <td>7” x 5.50” x 8”</td>
      <td>8.5" x 7.25" x 6.5"</td>
      <td>9.75” x 10.5” x 8”</td>
    </tr>
    <tr>
      <th scope="row">WEIGHT</th>
      <td>.5 Lbs</td>
      <td>.7 Lbs</td>
      <td>3.3 Lbs</td>
      <td>9.75 Lbs</td>
    </tr>
    <tr>
      <th scope="row">PUMPING STYLE</th>
      <td>Single or Double</td>
      <td>Single or Double</td>
      <td>Single or Double</td>
      <td>Single or Double</td>
    </tr>
    <tr>
      <th scope="row">BATTERY TYPE</th>
      <td>4 AA</td>
      <td>Rechargeable with USB-C cord</td>
      <td>Rechargeable</td>
      <td>AC Adaptor Only</td>
    </tr>
    <tr>
      <th scope="row">NOISE LEVEL</th>
      <td>45db</td>
      <td>45db</td>
      <td>45db</td>
      <td>45db</td>
    </tr>
    <tr>
      <th scope="row">PREPROGRAMMED STIMILUATION MODE</th>
      <td>Yes, 6 combinations</td>
      <td>Yes, 6 combinations</td>
      <td>Yes, 6 combinations</td>
      <td>Manual selection - 5000 combinations</td>
    </tr>
    <tr>
      <th scope="row">PREPROGRAMMED EXPRESSION MODE</th>
      <td>Yes, 12 combinations</td>
      <td>Yes, 12 combinations</td>
      <td>Manual Selection - 72 combinations</td>
<td>Manual selection - 5000 combinations</td>
    </tr>
    <tr>
      <th scope="row">WARRANTY</th>
      <td>2 years</td>
      <td>2 years</td>
      <td>3 years</td>
      <td>3 years</td>
    </tr>
    <tr>
      <th scope="row">SERVICEABLE</th>
      <td></td>
      <td></td>
      <td></td>
      <td class="pink-check">✓</td>
    </tr>
    <tr>
      <th scope="row">LED DISPLAY W/ PUSH BUTTONS & TIMER</th>
      <td class="pink-check">✓</td>
      <td class="pink-check">✓</td>
      <td class="pink-check">✓</td>
      <td class="pink-check">✓</td>
    </tr>
    <tr>
      <th scope="row">AUTO POWER OFF</th>
      <td class="pink-check">✓</td>
      <td class="pink-check">✓</td>
      <td class="pink-check">✓</td>
      <td class="pink-check">✓</td>
    </tr>
    <tr>
      <th scope="row">INTEGRATED CARRY HANDLE</th>
      <td></td>
      <td></td>
      <td class="pink-check">✓</td>
      <td class="pink-check">✓</td>
    </tr>
    <tr>
      <th scope="row">INTEGRATED BELT CLIP OR LANYARD</th>
      <td>Yes, Belt Clip</td>
      <td>Yes, Lanyard</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">INTEGRATED BOTTLE HOLDERS</th>
      <td></td>
      <td></td>
      <td class="pink-check">✓</td>
      <td class="pink-check">✓</td>
    </tr>
    <tr>
      <th scope="row">ADJUSTABLE NIGHT LIGHT</th>
      <td></td>
      <td></td>
      <td class="pink-check">✓</td>
      <td></td>
    </tr>
  </tbody>
</table>
</div>