<div class="flex justify-center text-center">
    <div class="text-center" data-cc-animate="">
        <h2 class="section__block section__block--heading h2">Subscribe to the Ameda Newsletter</h2><div class="section__block reading-width rte  mx-auto">
        <p>Enjoy motherhood by staying up to date with new product releases, events, and helpful guides.</p>
    </div>
    <div style="margin:0 auto;" class="pxFormGenerator" id="bRXEMJxx1eTk4EcyhCcUBw"></div>
</div>