<p>hi</p>

{% schema %}
    {
      "name": "Compatible Products",
      "settings": [
      ],
      "presets": [
        {
          "name": "Compatible Products",
          "category": "Custom"
        }
      ]
    }
{% endschema %}