<link rel="stylesheet" href="{{ 'education-tabs.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="section section--padded">
    <div class="container">
        <div class="title-wrapper">
            <h2>Education PDFs</h2>
        </div>
        <div class="education-list">
            {% for education_pdf in shop.metaobjects.education_pdf.values %}
                <a href="/pages/education/" class="education-item">
                    <div class="education-image-wrapper">
                        <img src="{{ education_pdf.cover_image |  image_url  }}" />
                    </div>
                    <h3 class="h6">{{ education_pdf.name }}</h3>
                </a>
            {% endfor %}
        </div>
    </div>
</div>

{% schema %}
    {
      "name": "Education PDFs",
      "presets": [
        {
          "name": "Education PDFs",
          "category": "Template"
        }
      ]
    }
{% endschema %}