<div class="section">
    <div class="container">
        <div class="flex justify-center items-center gap-theme flex-wrap">
            <a class="btn btn--primary" href="#ameda">Ameda</a>
            <a class="btn btn--primary" href="#products">Products</a>
            <a class="btn btn--primary" href="#pumping">Pumping</a>
            <a class="btn btn--primary" href="#troubleshooting">Troubleshooting</a>
            <a class="btn btn--primary" href="#insurance">Insurance</a>
        </div>
    </div>
</div>
<div class="section section--padded">
    <div class="container">
        <div class="reading-width" data-cc-animate="">
            <h3 class="text-h4 xs:text-h6 font-bold mb-6" id="ameda">Ameda</h3>

            <details-disclosure>
                <details class="disclosure disclosure--row">
                    <summary>
                        <div class="flex justify-between items-center">
                            <h4
                                class="disclosure__title xs:regular-text h6 font-body flex flex-auto items-center mb-0 text-current">
                                What if I'm experiencing issues with my pump?</h4>
                            <span class="disclosure__toggle">
                                <svg width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" focusable="false"
                                    role="presentation" class="icon">
                                    <path d="M20 8.5 12.5 16 5 8.5" stroke="currentColor" stroke-width="1.5"
                                        fill="none"></path>
                                </svg>
                            </span>
                        </div>
                    </summary>
                    <div class="disclosure__panel has-motion">
                        <div class="disclosure__content rte">
                            <p>If you experience an issue with your pump, it falls within the warranty time frame, and
                                you are the original owner, please contact our ParentCare team for assistance. In the
                                United States, our Ameda ParentCare™ staff can answer consumer questions about proper
                                use of Ameda® products, replacement parts and more. Give us a call at <a href="tel:866-992-6332">1-866-992-6332 /
                                1-866-99-AMEDA</a> or drop us a line at <a
                                    href="mailto:ParentCare@ameda.com">ParentCare@ameda.com</a>. We are available Monday
                                through Friday 8:00 a.m. – 4:30 p.m. Central Time.</p>
                        </div>
                    </div>
                </details>
            </details-disclosure>
            <details-disclosure>
                <details class="disclosure disclosure--row">
                    <summary>
                        <div class="flex justify-between items-center">
                            <h4
                                class="disclosure__title xs:regular-text h6 font-body flex flex-auto items-center mb-0 text-current">
                                What are Ameda's Shipping Terms?</h4>
                            <span class="disclosure__toggle">
                                <svg width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" focusable="false"
                                    role="presentation" class="icon">
                                    <path d="M20 8.5 12.5 16 5 8.5" stroke="currentColor" stroke-width="1.5"
                                        fill="none"></path>
                                </svg>
                            </span>
                        </div>
                    </summary>
                    <div class="disclosure__panel has-motion">
                        <div class="disclosure__content rte">
                            <p>Ameda ships to all U.S. States and Puerto Rico. We do not ship Internationally.</p>
                            <p><strong>What shipping &amp; delivery options do you offer?</strong></p>
                            <p><em><strong>Due to carrier service challenges across the country, Ameda cannot currently
                                        guarantee expedited shipping and delivery dates. Delivery dates are estimations
                                        only. Any delivery date estimations are provided exclusively by the shipping
                                        carrier and Ameda does not offer any guarantee or warranty as to
                                        accuracy.</strong></em></p>
                            <p>Please note that all shipping windows are using business days. Business days are defined
                                as Monday – Friday, 8:00am – 2:00pm central time. Orders are not processed, shipped or
                                delivered on weekends or holidays. Some locations outside of the contiguous U.S. require
                                additional transit time.</p>
                            <p><strong>Shipping Methods</strong></p>
                            <p><em><strong>Expedited Shipping</strong></em></p>
                            <p>$18.90 for all orders</p>
                            <p>Orders placed before 1 p.m. central time Monday thru Friday will ship same day.</p>
                            <p>Orders placed after 1:30 p.m. central time Monday thru Friday, and weekend and holiday
                                orders will ship the next business day.</p>
                            <p>Orders arrive within 2 business days.</p>
                            <p><em><strong>Overnight Shipping</strong></em></p>
                            <p>$30.90 for all orders</p>
                            <p>Orders placed before 1 p.m. central time Monday thru Friday will ship same day.</p>
                            <p>Orders placed after 1:30 p.m. central time Monday thru Friday, and weekend and holiday
                                orders will ship the next business day.</p>
                            <p>Orders arrive within 1 business days.</p>
                        </div>
                    </div>
                </details>
            </details-disclosure>
            <details-disclosure>
                <details class="disclosure disclosure--row">
                    <summary>
                        <div class="flex justify-between items-center">
                            <h4
                                class="disclosure__title xs:regular-text h6 font-body flex flex-auto items-center mb-0 text-current">
                                Can I return or exchange an item?</h4>
                            <span class="disclosure__toggle">
                                <svg width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" focusable="false"
                                    role="presentation" class="icon">
                                    <path d="M20 8.5 12.5 16 5 8.5" stroke="currentColor" stroke-width="1.5"
                                        fill="none"></path>
                                </svg>
                            </span>
                        </div>
                    </summary>
                    <div class="disclosure__panel has-motion">
                        <div class="disclosure__content rte">
                            <p>Ameda offers a no hassle return policy for unopened items. Unopened items must have the
                                original safety seal, that is put on by the factory, intact and untampered with.</p>
                            <p>All returns and exchanges can only be done if purchased from us directly via our
                                eCommerce website. In order to qualify A return request must be received within 7 days
                                of receiving the item with valid proof of purchase. All items must be unopened.</p>
                            <p>Please email us at  <a href="mailto:ParentCare@ameda.com">ParentCare@ameda.com</a> to receive return instructions. Include your
                                order ID number, item(s) you would like to return, and reason for return. Once the
                                return is approved we will email you the Return form and address for returning your
                                item(s). “Return” constitutes receipt of the product by our warehouse. If you choose to
                                use an Ameda.com return label, the cost of return will be subtracted from your refund
                                amount.</p>
                            <p>Items must be in the original, undamaged manufacturer’s packaging with all packaging
                                materials, including instruction booklets, packing inserts, plastic bags, and the
                                warranty cards. The manufacturer’s labeled packaging must be enclosed within a new
                                shipping carton.</p>
                            <p>Once we receive your return in the proper condition, we will then provide a refund to
                                your payment account usually within 2-4 weeks. Returns cannot be accepted without a
                                return form. Shipping, handling fees, discontinued products and special-order items if
                                applicable, are not refundable.</p>
                        </div>
                    </div>
                </details>
            </details-disclosure>
            <details-disclosure>
                <details class="disclosure disclosure--row">
                    <summary>
                        <div class="flex justify-between items-center">
                            <h4
                                class="disclosure__title xs:regular-text h6 font-body flex flex-auto items-center mb-0 text-current">
                                What payment methods are accepted?</h4>
                            <span class="disclosure__toggle">
                                <svg width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" focusable="false"
                                    role="presentation" class="icon">
                                    <path d="M20 8.5 12.5 16 5 8.5" stroke="currentColor" stroke-width="1.5"
                                        fill="none"></path>
                                </svg>
                            </span>
                        </div>
                    </summary>
                    <div class="disclosure__panel has-motion">
                        <div class="disclosure__content rte">
                            <p>We accept American Express™, Discover™, MasterCard™ and Visa™.</p>
                        </div>
                    </div>
                </details>
            </details-disclosure>
            <details-disclosure>
                <details class="disclosure disclosure--row">
                    <summary>
                        <div class="flex justify-between items-center">
                            <h4
                                class="disclosure__title xs:regular-text h6 font-body flex flex-auto items-center mb-0 text-current">
                                Do you have a recycling program?</h4>
                            <span class="disclosure__toggle">
                                <svg width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" focusable="false"
                                    role="presentation" class="icon">
                                    <path d="M20 8.5 12.5 16 5 8.5" stroke="currentColor" stroke-width="1.5"
                                        fill="none"></path>
                                </svg>
                            </span>
                        </div>
                    </summary>
                    <div class="disclosure__panel has-motion">
                        <div class="disclosure__content rte">
                            <p>Ameda does not currently offer a recycling program for used pumps. We suggest you contact
                                your local waste management provider to determine if there are options in your area for
                                recycling.</p>
                        </div>
                    </div>
                </details>
            </details-disclosure>
            <details-disclosure>
                <details class="disclosure disclosure--row">
                    <summary>
                        <div class="flex justify-between items-center">
                            <h4
                                class="disclosure__title xs:regular-text h6 font-body flex flex-auto items-center mb-0 text-current">
                                Who should I contact if I have a performance issue with my pump?</h4>
                            <span class="disclosure__toggle">
                                <svg width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" focusable="false"
                                    role="presentation" class="icon">
                                    <path d="M20 8.5 12.5 16 5 8.5" stroke="currentColor" stroke-width="1.5"
                                        fill="none"></path>
                                </svg>
                            </span>
                        </div>
                    </summary>
                    <div class="disclosure__panel has-motion">
                        <div class="disclosure__content rte">
                            <p>We recommend that you call our ParentCare Department when you have a few minutes
                                available at <a href="tel:866-992-6332">866-992-6332</a> M-F 8:00am-4:30pm CT for warranty assistance. Due to the
                                nature of our product, we need to conduct our product troubleshooting over the phone.
                                Troubleshooting may include listening to your motor, so please have your pump and pump
                                accessories readily available when calling. General questions can be emailed to <a
                                    href="mailto:parentcare@ameda.com"
                                    title="mailto:parentcare@ameda.com">parentcare@ameda.com</a>.</p>
                        </div>
                    </div>
                </details>
            </details-disclosure>
            <details-disclosure>
                <details class="disclosure disclosure--row">
                    <summary>
                        <div class="flex justify-between items-center">
                            <h4
                                class="disclosure__title xs:regular-text h6 font-body flex flex-auto items-center mb-0 text-current">
                                What if I have another issue with my pump?</h4>
                            <span class="disclosure__toggle">
                                <svg width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" focusable="false"
                                    role="presentation" class="icon">
                                    <path d="M20 8.5 12.5 16 5 8.5" stroke="currentColor" stroke-width="1.5"
                                        fill="none"></path>
                                </svg>
                            </span>
                        </div>
                    </summary>
                    <div class="disclosure__panel has-motion">
                        <div class="disclosure__content rte">
                            <p>Your Finesse breast pump carries a two-year product warranty and all other personal
                                electric breast pumps from Ameda carry a one-year product warranty from the date of
                                receipt and our ParentCare staff is here to assist you during your breast pumping
                                journey. Please call our ParentCare Department at <a href="tel:866-992-6332">866-992-6332</a> M-F 8:00 am-4:30pm CT
                                when you have a few minutes to discuss any issues you are experiencing. We will provide
                                troubleshooting support over the phone to determine if a product related issue exists.
                                If we determine that our product is the root cause of the issue you are experiencing, we
                                will assist you under the terms of the product warranty. If a product related issue is
                                not found, our ParentCare Specialists can support you further by providing additional
                                product education and guidance that may help enhance your overall lactation and pumping
                                experience.</p>
                        </div>
                    </div>
                </details>
            </details-disclosure>

            <h3 class="text-h4 xs:text-h5 font-bold mt-16 mb-6" id="products">Products</h3>
            <p class="text-body xs:text-h6 font-bold mt-16 mb-6 uppercase">Mya Breast Pumps</p>
            <details-disclosure>
                <details class="disclosure disclosure--row">
                    <summary>
                        <div class="flex justify-between items-center">
                            <h4
                                class="disclosure__title xs:regular-text h6 font-body flex flex-auto items-center mb-0 text-current">
                                Mya and Mya Joy look similar – what is the main difference between the two pumps?</h4>
                            <span class="disclosure__toggle">
                                <svg width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" focusable="false"
                                    role="presentation" class="icon">
                                    <path d="M20 8.5 12.5 16 5 8.5" stroke="currentColor" stroke-width="1.5"
                                        fill="none"></path>
                                </svg>
                            </span>
                        </div>
                    </summary>
                    <div class="disclosure__panel has-motion">
                        <div class="disclosure__content rte">
                            <p>Mya and Mya Joy are both small, lightweight personal use pumps. They both provide
                                hospital strength performance and are designed for moms pumping on a daily basis. Mya
                                includes an internal lithium battery and uses it own unique pump kit and flange system.
                                Mya Joy has a internal battery back-up option that requires 4 AA batteries. Mya Joy is
                                also compatible with most components in the Ameda HygieniKit including containers,
                                tubing and CustomFit flanges.</p>
                        </div>
                    </div>
                </details>
            </details-disclosure>
            <details-disclosure>
                <details class="disclosure disclosure--row">
                    <summary>
                        <div class="flex justify-between items-center">
                            <h4
                                class="disclosure__title xs:regular-text h6 font-body flex flex-auto items-center mb-0 text-current">
                                Are the Mya family of pumps covered by insurance? How can I find out if my insurance
                                plan covers them?</h4>
                            <span class="disclosure__toggle">
                                <svg width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" focusable="false"
                                    role="presentation" class="icon">
                                    <path d="M20 8.5 12.5 16 5 8.5" stroke="currentColor" stroke-width="1.5"
                                        fill="none"></path>
                                </svg>
                            </span>
                        </div>
                    </summary>
                    <div class="disclosure__panel has-motion">
                        <div class="disclosure__content rte">
                            <p>The Mya and Mya Joy are covered by most insurance plans. To find out your options contact
                                your insurance plan directly. Ameda also has a convenient web page to learn more and <a
                                    href="/pages/insurance/" target="_blank" rel="noopener">search for a Durable Medical
                                    Equipment (DME) provider</a> that covers Ameda pumps.</p>
                        </div>
                    </div>
                </details>
            </details-disclosure>

            <p class="text-body xs:text-h6 font-bold mt-16 mb-6 uppercase">Mya Joy</p>

            <details-disclosure>
                <details class="disclosure disclosure--row">
                    <summary>
                        <div class="flex justify-between items-center">
                            <h4
                                class="disclosure__title xs:regular-text h6 font-body flex flex-auto items-center mb-0 text-current">
                                I received an Ameda HygieniKit™ in the hospital – can I use it with my Mya Joy Pump?
                            </h4>
                            <span class="disclosure__toggle">
                                <svg width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" focusable="false"
                                    role="presentation" class="icon">
                                    <path d="M20 8.5 12.5 16 5 8.5" stroke="currentColor" stroke-width="1.5"
                                        fill="none"></path>
                                </svg>
                            </span>
                        </div>
                    </summary>
                    <div class="disclosure__panel has-motion">
                        <div class="disclosure__content rte">
                            <p>The HygieniKit you received in the hospital is mostly compatible with your Mya Joy
                                pumping kit. All CustomFit™ flanges, containers/lids and tubing from your Ameda hospital
                                kit can be used with the Joy. The diaphragm and valve pieces in the Joy are slightly
                                different from those used in your HygieniKit so we recommend that only use the diaphragm
                                and valves that come with your Mya Joy pump (just toss out the old ones). Two new sets
                                of valves and diaphragms come with each Mya Joy pump.</p>
                        </div>
                    </div>
                </details>
            </details-disclosure>
            <details-disclosure>
                <details class="disclosure disclosure--row">
                    <summary>
                        <div class="flex justify-between items-center">
                            <h4
                                class="disclosure__title xs:regular-text h6 font-body flex flex-auto items-center mb-0 text-current">
                                Mya Joy is so small – will it be powerful enough to use when I go back to work?</h4>
                            <span class="disclosure__toggle">
                                <svg width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" focusable="false"
                                    role="presentation" class="icon">
                                    <path d="M20 8.5 12.5 16 5 8.5" stroke="currentColor" stroke-width="1.5"
                                        fill="none"></path>
                                </svg>
                            </span>
                        </div>
                    </summary>
                    <div class="disclosure__panel has-motion">
                        <div class="disclosure__content rte">
                            <p>Yes. The Mya Joy pump features hospital strength performance and is designed for daily
                                use by moms. It also features two modes of pumping (stimulation and expression) and a
                                large range of settings for mom's comfort. Plus - Joy is so small and quiet, mom can
                                take it with her where -ever she needs to go!</p>
                        </div>
                    </div>
                </details>
            </details-disclosure>
            <details-disclosure>
                <details class="disclosure disclosure--row">
                    <summary>
                        <div class="flex justify-between items-center">
                            <h4
                                class="disclosure__title xs:regular-text h6 font-body flex flex-auto items-center mb-0 text-current">
                                Does Mya Joy have a battery option?</h4>
                            <span class="disclosure__toggle">
                                <svg width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" focusable="false"
                                    role="presentation" class="icon">
                                    <path d="M20 8.5 12.5 16 5 8.5" stroke="currentColor" stroke-width="1.5"
                                        fill="none"></path>
                                </svg>
                            </span>
                        </div>
                    </summary>
                    <div class="disclosure__panel has-motion">
                        <div class="disclosure__content rte">
                            <p>Yes. The Mya Joy has an internal battery compartment that requires 4 AA batteries.</p>
                        </div>
                    </div>
                </details>
            </details-disclosure>
            <details-disclosure>
                <details class="disclosure disclosure--row">
                    <summary>
                        <div class="flex justify-between items-center">
                            <h4
                                class="disclosure__title xs:regular-text h6 font-body flex flex-auto items-center mb-0 text-current">
                                Where can I buy spare parts for my Mya Joy pump?</h4>
                            <span class="disclosure__toggle">
                                <svg width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" focusable="false"
                                    role="presentation" class="icon">
                                    <path d="M20 8.5 12.5 16 5 8.5" stroke="currentColor" stroke-width="1.5"
                                        fill="none"></path>
                                </svg>
                            </span>
                        </div>
                    </summary>
                    <div class="disclosure__panel has-motion">
                        <div class="disclosure__content rte">
                            <p>Mya Joy parts are conveniently available on the <a href="/collections/accessories"
                                    rel="noopener" target="_blank">Ameda.com</a> website and through many online retail
                                and DME partners nationwide including <a href="https://www.amazon.com/ameda"
                                    rel="noopener" target="_blank">Amazon</a>.</p>
                        </div>
                    </div>
                </details>
            </details-disclosure>
            <details-disclosure>
                <details class="disclosure disclosure--row">
                    <summary>
                        <div class="flex justify-between items-center">
                            <h4
                                class="disclosure__title xs:regular-text h6 font-body flex flex-auto items-center mb-0 text-current">
                                Does Mya Joy have a battery option?</h4>
                            <span class="disclosure__toggle">
                                <svg width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" focusable="false"
                                    role="presentation" class="icon">
                                    <path d="M20 8.5 12.5 16 5 8.5" stroke="currentColor" stroke-width="1.5"
                                        fill="none"></path>
                                </svg>
                            </span>
                        </div>
                    </summary>
                    <div class="disclosure__panel has-motion">
                        <div class="disclosure__content rte">
                            <p>Yes. The Mya has a built-in lithium battery that provides up to two hours of pumping time
                                on a single charge. Mom can conveniently pump without having to worry about being
                                plugged in!</p>
                        </div>
                    </div>
                </details>
            </details-disclosure>

            <p class="text-body xs:text-h6 font-bold mt-16 mb-6 uppercase">Mya</p>

            <details-disclosure>
                <details class="disclosure disclosure--row">
                    <summary>
                        <div class="flex justify-between items-center">
                            <h4
                                class="disclosure__title xs:regular-text h6 font-body flex flex-auto items-center mb-0 text-current">
                                I received an Ameda HygieniKit™ in the hospital – can I use it with my Mya Pump?</h4>
                            <span class="disclosure__toggle">
                                <svg width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" focusable="false"
                                    role="presentation" class="icon">
                                    <path d="M20 8.5 12.5 16 5 8.5" stroke="currentColor" stroke-width="1.5"
                                        fill="none"></path>
                                </svg>
                            </span>
                        </div>
                    </summary>
                    <div class="disclosure__panel has-motion">
                        <div class="disclosure__content rte">
                            <p>The Mya pump uses a unique pump kit and flange system. The <a
                                    href="/products/ameda-hygienikit-universal-kit?_pos=1&amp;_psq=hyg&amp;_ss=e&amp;_v=1.0"
                                    target="_blank" rel="noopener">HygieniKit™ parts</a> and <a
                                    href="/products/ameda-customfit-breast-pump-flanges-and-inserts-comfort-fit-angled-flange"
                                    target="_blank" rel="noopener">CustomFit™ Flanges</a> are not compatible with the
                                Mya.</p>
                        </div>
                    </div>
                </details>
            </details-disclosure>
            <details-disclosure>
                <details class="disclosure disclosure--row">
                    <summary>
                        <div class="flex justify-between items-center">
                            <h4
                                class="disclosure__title xs:regular-text h6 font-body flex flex-auto items-center mb-0 text-current">
                                Mya is so small – will it be powerful enough to use when I go back to work?</h4>
                            <span class="disclosure__toggle"><svg width="24" height="24" viewBox="0 0 24 24"
                                    aria-hidden="true" focusable="false" role="presentation" class="icon">
                                    <path d="M20 8.5 12.5 16 5 8.5" stroke="currentColor" stroke-width="1.5"
                                        fill="none"></path>
                                </svg>
                            </span>
                        </div>
                    </summary>
                    <div class="disclosure__panel has-motion">
                        <div class="disclosure__content rte">
                            <p>Yes. The Mya pump features hospital strength performance and is designed for daily use by moms. It also features two modes of pumping (stimulation and expression) and a large range of settings for mom’s comfort. Plus - Mya is so small and quiet, mom can take it with her where -ever she needs to go!</p>
                        </div>
                    </div>
                </details>
            </details-disclosure>
            <details-disclosure>
                <details class="disclosure disclosure--row">
                    <summary>
                        <div class="flex justify-between items-center">
                            <h4 class="disclosure__title xs:regular-text h6 font-body flex flex-auto items-center mb-0 text-current">Where can I buy spare parts for my Mya Pump?</h4>
                            <span class="disclosure__toggle"><svg width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" focusable="false" role="presentation" class="icon"><path d="M20 8.5 12.5 16 5 8.5" stroke="currentColor" stroke-width="1.5" fill="none"></path></svg></span>
                        </div>
                    </summary>
                    <div class="disclosure__panel has-motion">
                        <div class="disclosure__content rte">
                            <p>Insert your detailed answer here. This could include information about purchasing spare parts directly from the Ameda.com website, Amazon, or through various DME partners nationwide, emphasizing the availability of a wide range of spare parts and flange sizes to ensure a perfect fit for every user.</p>
                        </div>
                    </div>
                </details>
            </details-disclosure>


            <p class="text-body xs:text-h6 font-bold mt-16 mb-6 uppercase">Accessories</p>

            <details-disclosure>
                <details class="disclosure disclosure--row">
                    <summary>
                        <div class="flex justify-between items-center">
                            <h4
                                class="disclosure__title xs:regular-text h6 font-body flex flex-auto items-center mb-0 text-current">
                                Flange Fit</h4>
                            <span class="disclosure__toggle"><svg width="24" height="24" viewBox="0 0 24 24"
                                    aria-hidden="true" focusable="false" role="presentation" class="icon">
                                    <path d="M20 8.5 12.5 16 5 8.5" stroke="currentColor" stroke-width="1.5"
                                        fill="none"></path>
                                </svg></span>
                        </div>
                    </summary>
                    <div class="disclosure__panel has-motion">
                        <div class="disclosure__content rte">
                            <p>Proper flange fit is essential to successful breast pumping. Pumping should not cause
                                discomfort. Additionally, using the proper size flange will ensure maximum milk output.
                                A good fit allows your nipple to move freely in the breast flange tunnel. You should see
                                some space around the nipple. Only a little of the areola should be drawn into the
                                tunnel with the nipple. The flange is too small if some or all of your nipple rubs
                                against the sides of the breast flange tunnel. The flange is too big if more areola is
                                drawn into the breast flange with your nipple and/or if your areola rubs against the
                                side of the breast flange tunnel. Refer to your instruction manual for pictures of a
                                good flange fit. You may also call our ParentCare Department at <a href="tel:866-992-6332">866-992-6332</a> to conduct
                                a flange fit over the phone. To see our range of flanges, refer to the below chart:</p>
                            <p><img src="https://cdn.shopify.com/s/files/1/0849/8062/9819/products/17148PM_2.png?v=1704835461"
                                    alt="Nipple Size Guide"></p>
                        </div>
                    </div>
                </details>
            </details-disclosure>
            <details-disclosure>
                <details class="disclosure disclosure--row">
                    <summary>
                        <div class="flex justify-between items-center">
                            <h4
                                class="disclosure__title xs:regular-text h6 font-body flex flex-auto items-center mb-0 text-current">
                                Are valves covered by the warranty?</h4>
                            <span class="disclosure__toggle"><svg width="24" height="24" viewBox="0 0 24 24"
                                    aria-hidden="true" focusable="false" role="presentation" class="icon">
                                    <path d="M20 8.5 12.5 16 5 8.5" stroke="currentColor" stroke-width="1.5"
                                        fill="none"></path>
                                </svg></span>
                        </div>
                    </summary>
                    <div class="disclosure__panel has-motion">
                        <div class="disclosure__content rte">
                            <p>Your Ameda pump includes 4 valves upon receipt. In most cases, 2 of your valves will be
                                pre-assembled on the breast flange. Check the plastic bag that contains the bottle disk
                                and collar for your 2 spare valves. Valves are a routine maintenance piece part,
                                requiring replacement every 2-3 months, depending on care and frequency of pumping. You
                                can purchase replacements valves at Ameda.com as Ameda does not provide additional
                                valves free of charge and insurance does not cover this piece part. We strongly urge you
                                to purchase Ameda brand valves only, 2 per package. Off brand valves and other
                                accessories are marketed as “compatible with” Ameda pumps. However, off-brand product
                                does not work well with our pump and use of off-brand product will void your Ameda
                                warranty.</p>
                        </div>
                    </div>
                </details>
            </details-disclosure>
            <details-disclosure>
                <details class="disclosure disclosure--row">
                    <summary>
                        <div class="flex justify-between items-center">
                            <h4
                                class="disclosure__title xs:regular-text h6 font-body flex flex-auto items-center mb-0 text-current">
                                What pieces or parts need to be replaced routinely on my Ameda Breast Pump?</h4>
                            <span class="disclosure__toggle"><svg width="24" height="24" viewBox="0 0 24 24"
                                    aria-hidden="true" focusable="false" role="presentation" class="icon">
                                    <path d="M20 8.5 12.5 16 5 8.5" stroke="currentColor" stroke-width="1.5"
                                        fill="none"></path>
                                </svg></span>
                        </div>
                    </summary>
                    <div class="disclosure__panel has-motion">
                        <div class="disclosure__content rte">
                            <p><strong>Pump Maintenance</strong></p>
                            <p><a class="" href="https://youtu.be/vozRPJQm-mY"
                                    >WATCH VIDEO</a></p>
                        </div>
                    </div>
                </details>
            </details-disclosure>
            <details-disclosure>
                <details class="disclosure disclosure--row">
                    <summary>
                        <div class="flex justify-between items-center">
                            <h4
                                class="disclosure__title xs:regular-text h6 font-body flex flex-auto items-center mb-0 text-current">
                                How should I clean/sanitize the piece parts in my HygieniKit?</h4>
                            <span class="disclosure__toggle"><svg width="24" height="24" viewBox="0 0 24 24"
                                    aria-hidden="true" focusable="false" role="presentation" class="icon">
                                    <path d="M20 8.5 12.5 16 5 8.5" stroke="currentColor" stroke-width="1.5"
                                        fill="none"></path>
                                </svg></span>
                        </div>
                    </summary>
                    <div class="disclosure__panel has-motion">
                        <div class="disclosure__content rte">
                            <p>Before first use, unless otherwise directed by your healthcare provider, prepare your
                                HygieniKit as follows:</p>
                            <ol>
                                <li>Set aside tubing, adapter cap and tubing adapter. These parts do not need to be
                                    cleaned.</li>
                                <li>Take apart the remaining parts (the diaphragms, flanges, valves, storage bottles,
                                    locking rings and discs. These are the parts that can touch the breast milk.</li>
                                <li>Boil a pot of clean water.</li>
                                <li>Place the diaphragms, flanges, valves, storage boles, locking rings and discs into
                                    the pot of boiling water for 20 minutes.</li>
                                <li>Wash your hands.</li>
                                <li>Remove the parts carefully with clean tongs.</li>
                                <li>Let parts AIR dry on a clean surface.</li>
                            </ol>
                            <p>WARNING: DO not leave boiling parts unattended. DO not allow boiling parts to contact
                                boom of pot. This may cause damage to the parts. For more information, please review our
                                <a href="https://cdn.shopify.com/s/files/1/0849/8062/9819/files/Ameda_Cleaning_Instructions.pdf?v=1707511223" target="_blank"
                                    rel="noopener">cleaning instruction guide</a>.</p>
                            <h3>Clean &amp; Sanitize</h3>
                            <p><a class=""
                                    href="https://www.youtube.com/watch?v=IlJK2ZC03wQ&amp;feature=youtu.be"
                                    >WATCH VIDEO</a></p>
                            <h3>Valves</h3>
                            <ol>
                                <li>Exercise extreme care when washing and drying the valves.</li>
                                <li>Carefully remove the valve from the flange.</li>
                                <li>First, rinse the valve in cold water. This will assist with removing fat deposits (a
                                    natural component of breast milk). Then swish the valve or soak the valve in warm
                                    soapy water.</li>
                                <li>Do not insert your fingers or any other tools into the valve opening.</li>
                                <li>Next, rinse the valve again in cool water and allow the valve to air dry.</li>
                                <li>Do not place the valve directly into the water flowing from the faucet. If your
                                    water pressure is too strong, this could cause damage to the valve.</li>
                            </ol>
                            <p><a class="" href="https://youtu.be/cvoNZdVh7uA"
                                    >WATCH VIDEO</a></p>
                            <h3>Flanges, Bottles locking Rings &amp; Discs</h3>
                            <ol>
                                <li>Hand wash in warm soapy water and allow to air dry</li>
                                <li>Upper rack of standard, household dishwasher may also be used for flanges and boles
                                </li>
                                <li>Do not use steam sterilizer bags or steam bole sterilizers</li>
                            </ol>
                            <h3>Tubing</h3>
                            <p>The tubing does not require cleaning before first use or in between uses. Our Proven
                                Airlock Protection barrier helps protect milk while keeping pump tubing dry and clean.
                            </p>
                        </div>
                    </div>
                </details>
            </details-disclosure>

            <h3 class="text-h4 xs:text-h6 font-bold mt-16 mb-6" id="pumping">Pumping</h3>

            <details-disclosure>
                <details class="disclosure disclosure--row">
                    <summary>
                        <div class="flex justify-between items-center">
                            <h4
                                class="disclosure__title xs:regular-text h6 font-body flex flex-auto items-center mb-0 text-current">
                                How long should I pump?</h4>
                            <span class="disclosure__toggle">
                                <svg width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" focusable="false"
                                    role="presentation" class="icon">
                                    <path d="M20 8.5 12.5 16 5 8.5" stroke="currentColor" stroke-width="1.5"
                                        fill="none"></path>
                                </svg>
                            </span>
                        </div>
                    </summary>
                    <div class="disclosure__panel has-motion">
                        <div class="disclosure__content rte">
                            <p>An average pumping session is 10-15 minutes. Discontinue pumping after 15-20 minutes if
                                no results are achieved.</p>
                            <ol>
                                <li>Attempt another pumping session in an hour or so after the baby feeds.</li>
                                <li>Relax and allow your body to adjust to the feel of the pump. Your body recognizes
                                    the difference between the pump and your baby. Your body will adjust - this may take
                                    a few pumping sessions.</li>
                            </ol>
                            <p><a href="https://youtu.be/s44h-MY4RYE">WATCH VIDEO</a></p>
                        </div>
                    </div>
                </details>
            </details-disclosure>
            <details-disclosure>
                <details class="disclosure disclosure--row">
                    <summary>
                        <div class="flex justify-between items-center">
                            <h4
                                class="disclosure__title xs:regular-text h6 font-body flex flex-auto items-center mb-0 text-current">
                                When should I pump?</h4>
                            <span class="disclosure__toggle">
                                <svg width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" focusable="false"
                                    role="presentation" class="icon">
                                    <path d="M20 8.5 12.5 16 5 8.5" stroke="currentColor" stroke-width="1.5"
                                        fill="none"></path>
                                </svg>
                            </span>
                        </div>
                    </summary>
                    <div class="disclosure__panel has-motion">
                        <div class="disclosure__content rte">
                            <p>Pumping is an art; the body needs me to adjust to this process. Practice and patience is
                                required. We suggest you “get to know” your breast pump prior to returning to work or
                                when first pumping to gather milk for a planned occasional separation. Pumping routinely
                                to replace your nursing baby (i.e. returning to work):</p>
                            <p>You must use your breast pump in accordance with the nursing schedule established by the
                                nursing baby.</p>
                            <p>Skipping pumping sessions will have a negative effect on your milk supply.</p>
                            <p>Pumping to gather milk for an occasional separation:</p>
                            <p>Use your breast pump in between baby's nursing sessions.</p>
                            <p>Single pump after a nursing session on the side that the baby finished nursing.</p>
                            <p>You may need to combine expressed milk from multiple pumping sessions to create a full
                                feeding for baby</p>
                            <p>Pumping for a pre-mature or ill baby:</p>
                            <p>Consult your personal LC or other healthcare professional for further assessment of
                                personal circumstances</p>
                            <h4>Replacing Valves</h4>
                            <p><a href="https://youtu.be/otGENMJ6pWE">WATCH VIDEO</a></p>
                        </div>
                    </div>
                </details>
            </details-disclosure>
            <details-disclosure>
                <details class="disclosure disclosure--row">
                    <summary>
                        <div class="flex justify-between items-center">
                            <h4
                                class="disclosure__title xs:regular-text h6 font-body flex flex-auto items-center mb-0 text-current">
                                How should I use/set my breast pump speed and suction dials?</h4>
                            <span class="disclosure__toggle">
                                <svg width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" focusable="false"
                                    role="presentation" class="icon">
                                    <path d="M20 8.5 12.5 16 5 8.5" stroke="currentColor" stroke-width="1.5"
                                        fill="none"></path>
                                </svg>
                            </span>
                        </div>
                    </summary>
                    <div class="disclosure__panel has-motion">
                        <div class="disclosure__content rte">
                            <h3>Suction</h3>
                            <ol>
                                <li>The suction dial should be set to your highest COMFORTABLE suction level.</li>
                                <li>If any discomfort is felt, turn the suction down.</li>
                            </ol>
                            <h3>Speed</h3>
                            <ol>
                                <li>Your pumping sessions should begin with the speed dial set at the highest speed
                                    level. <ol>
                                        <li>This will encourage your body to release your milk (let down) so milk flow
                                            will start.</li>
                                        <li>This action mimics the suckling action of your baby at the beginning of a
                                            nursing session.</li>
                                    </ol>
                                </li>
                                <li>Once milk flow has begun, slowly adjust the speed dial down, about half way <ol>
                                        <li>This slower speed will effectively drain your breast of milk.</li>
                                        <li>This action mimics the longer and slower sucks of your baby during a nursing
                                            session, once milk is present and feeding starts.</li>
                                    </ol>
                                </li>
                                <li>After milk flow slows, try to initiate another let down by turning the speed all the
                                    way up and repeating the process.</li>
                                <li>Multiple let-downs occur during a nursing session with baby. For optimal milk
                                    output, it is important to mimic this pattern when using your breast pump.</li>
                            </ol>
                            <p><a href="https://youtu.be/bdkdHIPeK3g">WATCH VIDEO</a></p>
                        </div>
                    </div>
                </details>
            </details-disclosure>
            <details-disclosure>
                <details class="disclosure disclosure--row">
                    <summary>
                        <div class="flex justify-between items-center">
                            <h4
                                class="disclosure__title xs:regular-text h6 font-body flex flex-auto items-center mb-0 text-current">
                                How do I switch between single and double pumping?</h4>
                            <span class="disclosure__toggle">
                                <svg width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" focusable="false"
                                    role="presentation" class="icon">
                                    <path d="M20 8.5 12.5 16 5 8.5" stroke="currentColor" stroke-width="1.5"
                                        fill="none"></path>
                                </svg>
                            </span>
                        </div>
                    </summary>
                    <div class="disclosure__panel has-motion">
                        <div class="disclosure__content rte">
                            <p><a href="https://youtu.be/xyGBaIbgbXM">WATCH VIDEO</a></p>
                        </div>
                    </div>
                </details>
            </details-disclosure>

            <h3 class="text-h4 xs:text-h6 font-bold mt-16 mb-6" id="troubleshooting">Troubleshooting</h3>

            <details-disclosure>
                <details class="disclosure disclosure--row">
                    <summary>
                        <div class="flex justify-between items-center">
                            <h4
                                class="disclosure__title xs:regular-text h6 font-body flex flex-auto items-center mb-0 text-current">
                                Troubleshooting Low Suction</h4>
                            <span class="disclosure__toggle">
                                <svg width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" focusable="false"
                                    role="presentation" class="icon">
                                    <path d="M20 8.5 12.5 16 5 8.5" stroke="currentColor" stroke-width="1.5"
                                        fill="none"></path>
                                </svg>
                            </span>
                        </div>
                    </summary>
                    <div class="disclosure__panel has-motion">
                        <div class="disclosure__content rte">
                            <p>Your breast pump valve should be replaced every 2 to 3 months depending on frequency of
                                pumping. Low suction and other suction related issues are most often caused by damaged
                                or worn valves, that need to be replaced. (Valves are the small, clear silicone,
                                triangle shaped pieces that attach to the flange and hang down into the milk collection
                                container during pumping). Valves are the "heart" of pump suction and therefore it is
                                essential that these pieces are well-maintained during your pumping journey. To restore
                                suction:</p>
                            <ol>
                                <li>Replace your current valves with brand new, unused valves.<ol>
                                        <li>A spare set can be found with the lids and locking disks that were included
                                            with your pump.</li>
                                        <li>Additional valves can also be purchased online at <a
                                                href="/collections/accessories" rel="noopener noreferrer"
                                                target="_blank">Ameda.com</a> and through several online retailers such
                                            as <a
                                                href="https://www.amazon.com/stores/node/20710110011?_encoding=UTF8&amp;field-lbr_brands_browse-bin=Ameda&amp;ref_=bl_dp_s_web_20710110011"
                                                rel="noopener noreferrer" target="_blank">Amazon.com</a> or <a
                                                href="https://www.buybuybaby.com/store/brand/ameda/844/"
                                                rel="noopener noreferrer" target="_blank">BuyBuyBaby</a>. We caution you
                                            to purchase Ameda brand valves only, available 2 per pack only. Off-brand
                                            valves are not guaranteed by Ameda do not perform in the same manner as
                                            genuine Ameda brand valves.</li>
                                        <li>For our video on replacing your valves, please click the button below.</li>
                                    </ol>
                                </li>
                                <li>Check your flange fit:<ol>
                                        <li>Using the wrong size flange can create suction issues, discomfort while
                                            pumping, and negatively affect your milk production.</li>
                                    </ol>
                                </li>
                            </ol>
                            <h3>Replacing Valves</h3>
                            <p><a href="https://youtu.be/nrCcw5eGYVQ" target="_blank"
                                    title="https://youtu.be/nrCcw5eGYVQ">https://youtu.be/nrCcw5eGYVQ</a></p>
                            <h3>Flange Fit</h3>
                            <p><a href="https://youtu.be/34Ap1AjyWe8" target="_blank"
                                    title="https://youtu.be/34Ap1AjyWe8">https://youtu.be/34Ap1AjyWe8</a></p>
                        </div>
                    </div>
                </details>
            </details-disclosure>
            <details-disclosure>
                <details class="disclosure disclosure--row">
                    <summary>
                        <div class="flex justify-between items-center">
                            <h4
                                class="disclosure__title xs:regular-text h6 font-body flex flex-auto items-center mb-0 text-current">
                                Troubleshooting Uneven Suction or Suction on One Side Only</h4>
                            <span class="disclosure__toggle">
                                <svg width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" focusable="false"
                                    role="presentation" class="icon">
                                    <path d="M20 8.5 12.5 16 5 8.5" stroke="currentColor" stroke-width="1.5"
                                        fill="none"></path>
                                </svg>
                            </span>
                        </div>
                    </summary>
                    <div class="disclosure__panel has-motion">
                        <div class="disclosure__content rte">
                            <p>Uneven suction or suction on one side only may be a sign that it is time for routine
                                replacement of your valves as the pump motor cannot create uneven suction or suction on
                                one side only (unless you are set up to single pump). Valves are the small, clear
                                silicone, triangle shaped pieces that attach to the flange and hang down into the milk
                                collection container during pumping.)</p>
                            <ol>
                                <li>Replace the valve on the pumping side that is not working with a brand new, unused
                                    valve.</li>
                            </ol>
                            <p>Using the wrong size the flange can create suction issues, discomfort while pumping and
                                negatively affect your milk production.Learn more about how the proper flange fit can
                                affect suction below:</p>
                            <ul>
                                <li>Nipple size variance from breast to breast is not uncommon. You may need a different
                                    size flange for each breast.</li>
                                <li>Using the wrong size flange can create suction issues, discomfort while pumping and
                                    negatively affect your milk production.</li>
                                <li>Nipple size and breast tissue may naturally change during your breast pumping
                                    journey. The flange size that was proper for you when you began pumping may not be
                                    the proper size after time has passed.</li>
                                <li>Verify that the tubing adapter is inserted firmly into the tubing adapter port.</li>
                                <li>Visibly inspect the tubing adapter for any signs of damage.</li>
                                <li>Defects in the tubing adapter may be the cause uneven suction.</li>
                                <li>Focus on the side that isn’t working.</li>
                                <li>Starting with the valve, switch piece parts, one at a time, from the side that is
                                    working to the side that isn’t working. This will isolate the piece part that is
                                    causing the issue.</li>
                                <li>If the lower suction stays with the same breast regardless of switching piece parts,
                                    then the suction issue is most likely due to Mom’s anatomy.</li>
                                <li>Check flange fit on the nipple of the breast that is having low suction.</li>
                            </ul>
                            <p>Keep in mind that if only one side is working, you can single pump with the working side
                                until you obtain replacement valves. To single pump:</p>
                            <ul>
                                <li>Remove the tubing set up that is not providing suction from the pump.</li>
                                <li>Close off the port that you are not using with the white, tail like piece that is
                                    attached to the tubing adapter.</li>
                                <li>You must close off the unused port to single pump.</li>
                                <li>Suction levels will be stronger when single pumping.</li>
                            </ul>
                            <p>Download the&nbsp;<a href="/pages/instructions-for-use"
                                    title="Instructions For Use">HygieniKit IFU</a>&nbsp;for more information.</p>
                            <h3>Uneven Suction</h3>
                            <p><a href="https://youtu.be/nrCcw5eGYVQ" target="_blank"
                                    title="https://youtu.be/nrCcw5eGYVQ">https://youtu.be/nrCcw5eGYVQ</a></p>
                        </div>
                    </div>
                </details>
            </details-disclosure>
            <details-disclosure>
                <details class="disclosure disclosure--row">
                    <summary>
                        <div class="flex justify-between items-center">
                            <h4
                                class="disclosure__title xs:regular-text h6 font-body flex flex-auto items-center mb-0 text-current">
                                Troubleshooting No Suction</h4>
                            <span class="disclosure__toggle">
                                <svg width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" focusable="false"
                                    role="presentation" class="icon">
                                    <path d="M20 8.5 12.5 16 5 8.5" stroke="currentColor" stroke-width="1.5"
                                        fill="none"></path>
                                </svg>
                            </span>
                        </div>
                    </summary>
                    <div class="disclosure__panel has-motion">
                        <div class="disclosure__content rte">
                            <ol>
                                <li>Ensure that a valve is attached to each flange</li>
                                <li>Ensure that the tubing adapter is firmly inserted into the adapter port</li>
                                <li>Ensure diaphragms are placed in to the top of each flange</li>
                                <li>If using battery power exclusively, switch to your power cord adapter</li>
                            </ol>
                            <h3>Flange Fit</h3>
                            <p>Proper flange fit is essential to successful breast pumping. Pumping should not cause
                                discomfort. Additionally, using the proper size flange will ensure maximum milk output.
                                A good fit allows your nipple to move freely in the breast flange tunnel. You should see
                                some space around the nipple. Only a little areola should be drawn into the tunnel with
                                the nipple. The flange is too small if some or all of your nipple rubs against the sides
                                of the breast flange tunnel. The flange is too big if more areola is drawn into the
                                breast flange with your nipple and/or if your areola rubs against the side of the breast
                                flange tunnel. Refer to your instruction manual for pictures of a good flange fit. You
                                may also call our ParentCare Department at <a href="tel:866-992-6332">866-992-6332</a> to conduct a flange fit over the
                                phone.&nbsp;<a href="/collections/accessories"
                                    title="Pump Parts &amp; Accessories">Click here</a>&nbsp;to see our range of
                                flanges.</p>
                            <h3>Other Troubleshooting</h3>
                            <p><a href="https://youtu.be/DmwQztz9LFg" target="_blank"
                                    title="https://youtu.be/DmwQztz9LFg">https://youtu.be/DmwQztz9LFg</a></p>
                        </div>
                    </div>
                </details>
            </details-disclosure>
            <details-disclosure>
                <details class="disclosure disclosure--row">
                    <summary>
                        <div class="flex justify-between items-center">
                            <h4
                                class="disclosure__title xs:regular-text h6 font-body flex flex-auto items-center mb-0 text-current">
                                Troubleshooting Power Issues</h4>
                            <span class="disclosure__toggle">
                                <svg width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" focusable="false"
                                    role="presentation" class="icon">
                                    <path d="M20 8.5 12.5 16 5 8.5" stroke="currentColor" stroke-width="1.5"
                                        fill="none"></path>
                                </svg>
                            </span>
                        </div>
                    </summary>
                    <div class="disclosure__panel has-motion">
                        <div class="disclosure__content rte">
                            <p>If Your Pump is not powering on with the AC Adapter, please follow the below instructions
                                for troubleshooting:</p>
                            <ol>
                                <li>If you have batteries installed in the battery compartment, remove the batteries
                                </li>
                                <li>Try using the pump in a different electrical socket.</li>
                                <li>Ensure the AC Adapter is inserted into the AC Adapter port and not the Tubing
                                    Adapter port</li>
                                <li>Try powering on the pump with 6 brand new premium AA batteries</li>
                            </ol>
                            <p>If Your Pump is not working on battery power:</p>
                            <ol>
                                <li>Ensure the AC Adapter has been unplugged from the motor unit</li>
                                <li>Ensure 6 brand new premium AA batteries have been installed</li>
                            </ol>
                            <p><a href="https://youtu.be/CoEeiPEUcfM" target="_blank"
                                    title="https://youtu.be/CoEeiPEUcfM">https://youtu.be/CoEeiPEUcfM</a></p>
                        </div>
                    </div>
                </details>
            </details-disclosure>

            <h3 class="text-h4 xs:text-h6 font-bold mt-16 mb-6" id="insurance">Insurance</h3>

            <details-disclosure>
                <details class="disclosure disclosure--row">
                    <summary>
                        <div class="flex justify-between items-center">
                            <h4
                                class="disclosure__title xs:regular-text h6 font-body flex flex-auto items-center mb-0 text-current">
                                What is the process for ordering a breast pump that is covered by insurance?</h4>
                            <span class="disclosure__toggle">
                                <svg width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" focusable="false"
                                    role="presentation" class="icon">
                                    <path d="M20 8.5 12.5 16 5 8.5" stroke="currentColor" stroke-width="1.5"
                                        fill="none"></path>
                                </svg>
                            </span>
                        </div>
                    </summary>
                    <div class="disclosure__panel has-motion">
                        <div class="disclosure__content rte">
                            <p>Most health insurance plans cover the cost of a double electric breast pump. We recommend
                                that you contact your insurance plan to ask about your benefits for a breast pump and
                                what they require. Some insurance plans ask that you have a prescription from a doctor.
                                Most will have you order your breast pump through a durable medical equipment provider
                                (DME) on their list. To learn more about how this process works, check out our <a
                                    href="/pages/insurance/">insurance page</a> to receive a free breast pump through insurance.</p>
                  </div>
                </div>
              </details>
            </details-disclosure>
            <details-disclosure>
              <details class="disclosure disclosure--row">
                <summary>
                  <div class="flex justify-between items-center">
                    <h4 class="disclosure__title xs:regular-text h6 font-body flex flex-auto items-center mb-0 text-current">Will I need a prescription to order my breast pump through insurance?</h4>
                    <span class="disclosure__toggle">
                        <svg width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" focusable="false" role="presentation" class="icon"><path d="M20 8.5 12.5 16 5 8.5" stroke="currentColor" stroke-width="1.5" fill="none"></path></svg>
                    </span>
                  </div>
                </summary>
                <div class="disclosure__panel has-motion">
                  <div class="disclosure__content rte">
                    <p>Each plan is different. We recommend calling your insurance plan to learn more. If a prescription is needed, contact your doctor to obtain a prescription in advance of placing the order for your breast pump. In some cases, your doctor may send the prescription directly to a specific DME. If this is the case, we recommend that follow up directly with this DME to see if additional information is needed to process your order.</p>
                  </div>
                </div>
              </details>
            </details-disclosure>
            <details-disclosure>
              <details class="disclosure disclosure--row">
                <summary>
                  <div class="flex justify-between items-center">
                    <h4 class="disclosure__title xs:regular-text h6 font-body flex flex-auto items-center mb-0 text-current">Can I upgrade my breast pump to a different model?</h4>
                    <span class="disclosure__toggle">
                        <svg width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" focusable="false" role="presentation" class="icon"><path d="M20 8.5 12.5 16 5 8.5" stroke="currentColor" stroke-width="1.5" fill="none"></path></svg>
                    </span>
                  </div>
                </summary>
                <div class="disclosure__panel has-motion">
                  <div class="disclosure__content rte">
                    <p>All health insurance plans are different. As a first step, ask your insurance plan. The second step is to see if the DME will allow you to upgrade your breast pump with an additional out of pocket fee. Many DMEs offer a range of upgrade options, as well as additional accessories available for purchase.</p>
                  </div>
                </div>
              </details>
            </details-disclosure>
            <details-disclosure>
              <details class="disclosure disclosure--row">
                <summary>
                  <div class="flex justify-between items-center">
                    <h4 class="disclosure__title xs:regular-text h6 font-body flex flex-auto items-center mb-0 text-current">Is it possible to use funds from a Flexible Spending Account, Health Savings Account or Health Reimbursement Account to pay breast pump or breast pump accessories or breastfeeding supplies?</h4>
                    <span class="disclosure__toggle">
                        <svg width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" focusable="false" role="presentation" class="icon"><path d="M20 8.5 12.5 16 5 8.5" stroke="currentColor" stroke-width="1.5" fill="none"></path></svg>
                    </span>
                  </div>
                </summary>
                <div class="disclosure__panel has-motion">
                  <div class="disclosure__content rte">
                    <p>This is often the case. Check with your employer or plan administrator to verify your benefits.</p>
                  </div>
                </div>
              </details>
            </details-disclosure>
            </div>
    </div>
  </div>

  {% schema %}
    {
      "name": "FAQ Page",
      "presets": [
        {
          "name": "FAQ Page",
          "category": "Template"
        }
      ]
    }
{% endschema %}