<div class="section section--padded">
    <div class="container">
        <p>Test</p>
    </div>
</div>


{% schema %}
    {
      "name": "Help Links",
      "presets": [
        {
          "name": "Help Links",
          "category": "Template"
        }
      ]
    }
  {% endschema %}