<div class="section section--padded helpful-links">
    <div class="container">
        <h2 class="section__heading">We're Here For You</h2>
        <div class="helpful-links_list">
            <div class="helpful-links_item">
                <div class="helpful-links_item_content left">
                    <h3>Help Link Title</h3>
                </div>
                <div class="helpful-links_item_content right">
                    <p>Help link description text. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia fugiat quidem quod reprehenderit, aspernatur consectetur voluptas nesciunt, illum neque reiciendis culpa? Optio necessitatibus fugit nobis!</p>
                    <a class="helpful-links_item_button" href="#">Link Title Here</a>
                </div>
            </div>
        </div>
    </div>
</div>


{% schema %}
    {
      "name": "Help Links",
      "presets": [
        {
          "name": "Help Links",
          "category": "Template"
        }
      ]
    }
  {% endschema %}