<link rel="stylesheet" href="{{ 'latest-posts.css' | asset_url }}" media="print" onload="this.media='all'">


<div class="section section--padded latest-posts">
    <div class="container">
        <div class="flex-title">
            <div class="flex-title_content">
                <h2>Latest Posts</h2>
                <p>Everything breastfeeding and breast pumping. We have educational material written by IBCLCs, great articles spanning all topics baby, and The Village blog posts from moms just like you.</p>
            </div>
            <div class="flex-title_button">
                <a href="/blog" class="btn btn--primary">
                    All Posts
                </a>
            </div>
        </div>
        <div class="flex-posts">
            <div class="post-item">
                <div class="post-item_image">
                    <img src="https://placehold.co/1000" alt="">
                </div>
                <div class="post-item_content">
                    <div class="post-item_category">Breast Pumping</div>
                    <h3 class="post-item_title">Test Title</h3>
                    <div class="post-item_button">
                        <a href="#" class="link">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% schema %}
    {
      "name": "Latest Posts",
      "presets": [
        {
          "name": "Latest Posts",
          "category": "Template"
        }
      ]
    }
{% endschema %}
    