{% for location in shop.metaobjects.store_locations.values %}
  <p>{{ store_locations.title }}</p>
{% endfor %}

{% schema %}
  {
    "name": "Store Locator",
    "presets": [
      {
        "name": "Store Locator",
        "category": "Template"
      }
    ]
  }
{% endschema %}