<div class="section section--padding">
  <div class="container">
    <div class="store-locations">
      {% for store_location in shop.metaobjects.type.store_locations %}
        <div class="store-location">
          <h2>{{ store_location.title }}</h2>

        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Locations",
  "presets": [
    {
      "name": "Locations",
      "category": "Template"
    }
  ]
}
{% endschema %}