{% for location in shop.metaobjects.store_location.values %}
    <p>{{ location.title }}</p>
{% endfor %}  

{% schema %}
  {
    "name": "Store Locator",
    "presets": [
      {
        "name": "Store Locator",
        "category": "Template"
      }
    ]
  }
{% endschema %}