<style>
    .timeline-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        position: relative;
    }
    .timeline-item_image {
        height: 15rem;
        width: 15rem;
    }
    .timeline-item {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
    }
    .timeline-item_content {
        position: absolute;
        top: 0;
        right: 0;
        width: calc(50% - 10rem);
        background: #fff;
        padding: 1.5rem;
        border-radius: 1rem;
    }
    .timeline-item_content * {
        margin-bottom: 0;
    }
    .timeline-item:nth-child(odd) .timeline-item_content {
        right: auto;
        left: 0;
    }
    .timeline-vertical-line {
        position: absolute;
        top: 5rem;
        left: 50%;
        transform: translateX(-50%);
        width: 1px;
        height: calc(100% - 10rem);
        background-color: rgba(0,0,0,.25);
    }
    @media (max-width: 767px) {
        .timeline-item_content {
            position: relative;
            width: 100%;
        }
        .timeline-item {
            align-items: flex-start;
        }
        .timeline-vertical-line {
            left: calc(15rem / 2);
            transform: none;
        }
    }
</style>


<div class="section section--padded" style="margin-top: 0; padding-top:0;">
    <div class="container">
        <div class="timeline-wrapper">
            <div class="timeline-vertical-line"></div>
            <div class="timeline-item">
                <div class="timeline-item_image ">
                    <img src="/cdn/shop/files/1942.png?v=1704496365" alt="1942">
                </div>
                <div class="timeline-item_content">
                    <h4>1942</h4>
                    <p>Einar Egnell develops the world’s first hospital grade breast pump in 1942.</p>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-item_image ">
                    <img src="/cdn/shop/files/1942.png?v=1704496365" alt="1942">
                </div>
                <div class="timeline-item_content">
                    <h4>1942</h4>
                    <p>Einar Egnell develops the world’s first hospital grade breast pump in 1942.</p>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-item_image ">
                    <img src="/cdn/shop/files/1942.png?v=1704496365" alt="1942">
                </div>
                <div class="timeline-item_content">
                    <h4>1942</h4>
                    <p>Einar Egnell develops the world’s first hospital grade breast pump in 1942.</p>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-item_image ">
                    <img src="/cdn/shop/files/1942.png?v=1704496365" alt="1942">
                </div>
                <div class="timeline-item_content">
                    <h4>1942</h4>
                    <p>Einar Egnell develops the world’s first hospital grade breast pump in 1942.</p>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-item_image ">
                    <img src="/cdn/shop/files/1942.png?v=1704496365" alt="1942">
                </div>
                <div class="timeline-item_content">
                    <h4>1942</h4>
                    <p>Einar Egnell develops the world’s first hospital grade breast pump in 1942.</p>
                </div>
            </div>
        </div>
    </div>
</div>


{% schema %}
    {
      "name": "History Timeline",
      "presets": [
        {
          "name": "History Timeline",
          "category": "Template"
        }
      ]
    }
{% endschema %}