<style>

</style>

{% assign slider_items = [
    {
        "Image": "/cdn/shop/files/1942.png?v=1704496365",
        "Title": "1942",
        "Text": "Einar Egnell develops the world’s first hospital grade breast pump in 1942."
    },
    {
        "Image": "/cdn/shop/files/1970.png?v=1704497218",
        "Title": "1970",
        "Text": "Ameda AG was founded in 1970."
    },
    {
        "Image": "/cdn/shop/files/1984.png?v=1704496497",
        "Title": "1984",
        "Text": "The first portable hospital-grade breast pump, Lact-E, was created in 1984."
    },
    {
        "Image": "/cdn/shop/files/1993.png?v=1704496534",
        "Title": "1993",
        "Text": "The world’s first breast pump with a micro-processor, the Elite, was established in 1993."
    },
    {
        "Image": "/cdn/shop/files/1994.png?v=1704496570",
        "Title": "1994",
        "Text": "The world’s first and only FDA-cleared pump kit with Airlock Protection was created in 1994."
    },
    {
        "Image": "/cdn/shop/files/1998.png?v=1704496605",
        "Title": "1998",
        "Text": "The world’s first piston-driven personal pump, Purely Yours, was created in 1998."
    },
    {
        "Image": "/cdn/shop/files/2010.png?v=1704496605",
        "Title": "2010",
        "Text": "The Platinum breast pump, a premium hospital grade pump with vacusense technology, was created in 2010."
    },
    {
        "Image": "/cdn/shop/files/2016.png?v=1704496605",
        "Title": "2016",
        "Text": "Ameda acquired the Penguin Warming System in 2016."
    },
    {
        "Image": "/cdn/shop/files/2017.png?v=1704496605",
        "Title": "2017",
        "Text": "The Finesse breast pump, created in 2017, was Ameda’s first personal pump designed for insurance reimbursement."
    },
    {
        "Image": "/cdn/shop/files/2019.png?v=1704496605",
        "Title": "2019",
        "Text": "Ameda’s first personal pump with a rechargeable battery, the Ameda Mya, was created."
    },
    {
        "Image": "/cdn/shop/files/2020.png?v=1704496605",
        "Title": "2020",
        "Text": "Ameda’s first mobile personal pump, designed to work with the Universal HygieniKit™ Milk Collection System, the Mya Joy, was created in 2020."
    },
    {
        "Image": "/cdn/shop/files/2020-21.png?v=1704496605",
        "Title": "2020 & 2021",
        "Text": "Mya Joy & Mya Joy PLUS were introduced: Ameda’s first mobile personal pumps designed to work with the Universal HygieniKits™."
    },
    {
        "Image": "/cdn/shop/files/2022.png?v=1704496605",
        "Title": "2022",
        "Text": "Pearl® was launched – Ameda’s most mobile Hospital Grade Pump designed for use in the hospital and at home."
    }
] %}

<div class="section section--padded" style="margin-top: 0; padding-top:0;">
    <div class="container">
        <div class="timeline-wrapper">
            <div class="timeline-item">
                <div class="timeline-item_image ">
                    <img src="/cdn/shop/files/1942.png?v=1704496365" alt="1942">
                </div>
                <div class="timeline-item_content">
                    <span>1942</span>
                    <p>Einar Egnell develops the world’s first hospital grade breast pump in 1942.</p>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-item_image ">
                    <img src="/cdn/shop/files/1942.png?v=1704496365" alt="1942">
                </div>
                <div class="timeline-item_content">
                    <span>1942</span>
                    <p>Einar Egnell develops the world’s first hospital grade breast pump in 1942.</p>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-item_image ">
                    <img src="/cdn/shop/files/1942.png?v=1704496365" alt="1942">
                </div>
                <div class="timeline-item_content">
                    <span>1942</span>
                    <p>Einar Egnell develops the world’s first hospital grade breast pump in 1942.</p>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-item_image ">
                    <img src="/cdn/shop/files/1942.png?v=1704496365" alt="1942">
                </div>
                <div class="timeline-item_content">
                    <span>1942</span>
                    <p>Einar Egnell develops the world’s first hospital grade breast pump in 1942.</p>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-item_image ">
                    <img src="/cdn/shop/files/1942.png?v=1704496365" alt="1942">
                </div>
                <div class="timeline-item_content">
                    <span>1942</span>
                    <p>Einar Egnell develops the world’s first hospital grade breast pump in 1942.</p>
                </div>
            </div>
        </div>
    </div>
</div>


{% schema %}
    {
      "name": "History Timeline",
      "presets": [
        {
          "name": "History Timeline",
          "category": "Template"
        }
      ]
    }
{% endschema %}