<style>
    .timeline-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .timeline-item_image {
        height: 15rem;
        width: 15rem;
    }
    .timeline-item {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
    }
    .timeline-item_content {
        position: absolute;
        top: 0;
        right: 0;
        width: calc(50% - 10rem);
        background: #fff;
        padding: 1rem;
        border-radius: 1rem;
    }
    .timeline-item_content p {
        margin-bottom: 0;
    }
    .timeline-item:nth-child(odd) .timeline-item_content {
        right: auto;
        left: 0;
    }
</style>

<div class="section section--padded" style="margin-top: 0; padding-top:0;">
    <div class="container">
        <div class="timeline-wrapper">
            <div class="timeline-item">
                <div class="timeline-item_image ">
                    <img src="/cdn/shop/files/1942.png?v=1704496365" alt="1942">
                </div>
                <div class="timeline-item_content">
                    <h4>1942</h4>
                    <p>Einar Egnell develops the world’s first hospital grade breast pump in 1942.</p>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-item_image ">
                    <img src="/cdn/shop/files/1942.png?v=1704496365" alt="1942">
                </div>
                <div class="timeline-item_content">
                    <h4>1942</h4>
                    <p>Einar Egnell develops the world’s first hospital grade breast pump in 1942.</p>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-item_image ">
                    <img src="/cdn/shop/files/1942.png?v=1704496365" alt="1942">
                </div>
                <div class="timeline-item_content">
                    <h4>1942</h4>
                    <p>Einar Egnell develops the world’s first hospital grade breast pump in 1942.</p>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-item_image ">
                    <img src="/cdn/shop/files/1942.png?v=1704496365" alt="1942">
                </div>
                <div class="timeline-item_content">
                    <h4>1942</h4>
                    <p>Einar Egnell develops the world’s first hospital grade breast pump in 1942.</p>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-item_image ">
                    <img src="/cdn/shop/files/1942.png?v=1704496365" alt="1942">
                </div>
                <div class="timeline-item_content">
                    <h4>1942</h4>
                    <p>Einar Egnell develops the world’s first hospital grade breast pump in 1942.</p>
                </div>
            </div>
        </div>
    </div>
</div>


{% schema %}
    {
      "name": "History Timeline",
      "presets": [
        {
          "name": "History Timeline",
          "category": "Template"
        }
      ]
    }
{% endschema %}