<style>
    .timeline-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        position: relative;
    }
    .timeline-item_image {
        height: 15rem;
        width: 15rem;
    }
    .timeline-item {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
    }
    .timeline-item_content {
        position: absolute;
        top: 1rem;
        right: 0;
        width: calc(50% - 10rem);
        background: #fff;
        padding: 1.5rem;
        border-radius: 1rem;
    }
    .timeline-item_content * {
        margin-bottom: 0;
    }
    .timeline-item:nth-child(odd) .timeline-item_content {
        right: auto;
        left: 0;
    }
    .timeline-item_content::before {
        content: '';
        position: absolute;
        left: -1rem;
        top: 5rem;
        border-top: 1rem solid transparent;
        border-bottom: 1rem solid transparent;
        border-right: 1rem solid #fff;
    }
    .timeline-item:nth-child(odd) .timeline-item_content::before {
        left: auto;
        right: -1rem;
        border-top: 1rem solid transparent;
        border-bottom: 1rem solid transparent;
        border-left: 1rem solid #fff;
        border-right: none;
    }
    .timeline-vertical-line {
        position: absolute;
        top: 5rem;
        left: 50%;
        transform: translateX(-50%);
        width: 1px;
        height: calc(100% - 10rem);
        background-color: rgba(0,0,0,.1);
    }
    @media (max-width: 767px) {
        .timeline-item_content {
            position: relative;
            width: auto;
        }
        .timeline-item {
            align-items: flex-start;
            gap: 1rem;
        }
        .timeline-vertical-line {
            left: calc(15rem / 2);
            transform: none;
        }
        .timeline-item_content::before {
            left: calc(15rem / 2 - 1rem) !important;
            top: -2rem !important;
            right: auto !important;
            border-left: 1rem solid transparent !important;
            border-right: 1rem solid transparent !important;
            border-bottom: 1rem solid #fff !important;
        }
    }
</style>

<div class="section section--padded" style="margin-top: 0; padding-top:0;">
    <div class="container">
        <h2 class="" style="text-align: center; margin-bottom: 4rem;">Supporting Breastfeeding Moms for 80+ Years</h2>
        <div class="timeline-wrapper">
            <div class="timeline-vertical-line"></div>
            
            {% for block in section.blocks %}
            <div class="timeline-item">
                <div class="timeline-item_image">
                    <img src="{{ block.settings.image | img_url: 'medium' }}" alt="{{ block.settings.title }}">
                </div>
                <div class="timeline-item_content">
                    <h4>{{ block.settings.title }}</h4>
                    <p>{{ block.settings.content }}</p>
                </div>
            </div>
            {% endfor %}
            
        </div>
    </div>
</div>

{% schema %}
{
  "name": "History Timeline",
  "presets": [
    {
      "name": "History Timeline",
      "category": "Template"
    }
  ],
  "blocks": [
    {
      "type": "timeline_block",
      "name": "Timeline Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "content",
          "label": "Content"
        }
      ]
    }
  ]
}
{% endschema %}