<link rel="stylesheet" href="{{ 'wave-section.css' | asset_url }}" media="print" onload="this.media='all'">


<div style="background: {{ section.settings.wavebgcolor }}" class="wave-container">
    <svg width="1366" height="73" viewBox="0 0 1366 73" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 9.69698C0 9.69698 58.274 33.672 131.923 30.935C203.419 28.278 297.992 7.08798 367.549 9.69698C508.924 15.006 496.264 30.935 647.65 30.935C799.036 30.935 789.25 -0.248016 921.424 0.00198351C1053.6 0.251984 1043.36 30.935 1165.08 30.935C1286.8 30.935 1366 9.69698 1366 9.69698V72.997H0V9.69698Z" fill="{{ section.settings.wavesvgcolor }}"/>
    </svg>

</div>

{% schema %}
    {
      "name": "Wave Section",
      "settings": [
        {
          "type": "color",
          "label": "Background Color",
          "id": "wavebgcolor",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "label": "SVG Color",
          "id": "wavesvgcolor",
          "default": "#000000"
        }
      ],
      "presets": [
        {
          "name": "Wave Section",
          "category": "Custom"
        }
      ]
    }
{% endschema %}