.helpful-links .helpful-links_item {
    display: flex;
    border-bottom: 1px solid #333;
}
.helpful-links .helpful-links_item:first-child {
    border-top: 1px solid #333;
}
.helpful-links_item_content {
    width: 50%;
    padding: var(--gutter-md) 0;
}

.helpful-links_item_content.left {
    display: flex;
    gap: var(--gutter-sm);
}

.helpful-links_item_content.left * {
    color: #333;
}

.helpful-links .svg-wrapper {
    height: 4rem;
    aspect-ratio: 1 / 1;
}

.helpful-links .svg-wrapper svg {
    color: rgb(var(--link-color));
    height: 100%;
    width: 100%;
    object-fit: contain;
}

@media (max-width: 767px) {
    .helpful-links .helpful-links_item {
        flex-direction: column;
    }
    .helpful-links_item_content.left {
        padding-bottom: 0;
        width: 100% !important;
    }
    .helpful-links_item_content.right {
        padding-top: 0;
        width: 100% !important;
    }
}
