.latest-posts {
    background: #fff;
    margin-top: 0;
    margin-bottom: 0;
}

.flex-title {
    display: flex;
    align-items: flex-end;
    gap: 10rem;
}

.flex-title_content {
    display: flex;
    flex-direction: column;
}

.flex-title_button {
    flex: none;
}

.flex-posts {
    display: flex;
    gap: var(--gutter-md);
    margin-top: var(--gutter-md);
    flex-wrap: wrap;
}

.post-item {
    display: flex;
    align-items: center;
    background-color: rgb(var(--bg-color));
    border-radius: 1rem;
    overflow: hidden;
    width: calc(50% - (var(--gutter-md) / 2));
    min-height: 25rem;
}

.post-item > div {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
}

.post-item .post-item_content {
    padding: 2rem;
}

.post-item_image {
    position: relative;
}

.post-item_image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

h3.post-item_title {
    margin-bottom: 0;
    margin-top: 0.5rem;
}

.post-item_category span {
    padding: 0.25em 1em;
    border: 2px solid #ef9aa0;
    border-radius: 10rem;
    font-size: 0.75em;
    color: #ef9aa0;
    font-weight: bold;
    background-color: #fff;;
}

.two-line-clamp {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

@media (max-width: 991px) {
    .post-item {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .flex-title {
        flex-direction: column;
        gap: 2rem;
    }
}

@media (max-width: 450px) {
    .post-item {
        flex-direction: column;
    }
    .post-item > div {
        width: 100%;
    }
    .post-item .post-item_image {
        aspect-ratio: 3 / 2;
        height: auto;
    }
    .post-item .post-item_content {
        height: auto;
    }
}